# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# ToyyibPay
TOYYIBPAY_API_KEY=
TOYYIBPAY_CATEGORY_CODE=

# Cloudflare
CF_DEPLOY_HOOK_URL=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CF_PAGES_PROJECT_PREVIEW=
CF_PAGES_PROJECT_LIVE=

# App
NEXT_PUBLIC_LIVE_DOMAIN=1page.my
NEXT_PUBLIC_PREVIEW_DOMAIN=preview.1page.my
BOS_WHATSAPP_REDIRECT=
NEXT_PUBLIC_BOS_WA_REDIRECT=
